.container {
  min-height: 100vh;
  /* background: #e7e4eb; */
  background: #eceaf0;

  padding: 6vw 6vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #68c6f5; */
  /* background: #f199a9; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  color: #68c6f5;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #eceaf0;
  text-shadow: -2px 0 #68c6f5, 0 2px #68c6f5, 2px 0 #68c6f5, 0 -2px #68c6f5;
  font-weight: 900;
  font-size: 3rem;
}

.headerMenu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menuTitle {
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  display: relative;
}
.menuTitle:hover {
  color: #68c6f5;
  transition: 0.1s;
}
.highlight {
  display: inline-block;
  position: relative;
}

.highlight::after {
  content: "";
  height: 10px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s all;
  background: #68c6f5;
}
