.container {
  min-height: 100vh;
  background: #e7e4eb;

  padding: 6vw 6vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #68c6f5; */
  /* background: #f199a9; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  color: #68c6f5;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.menuTitle {
  padding-right: 2rem;
}

.headerMenu {
  display: flex;
  align-items: center;
}
